<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/78c5ec5f-59c9-4794-b3b3-00ff01735416/resourceGroups/TourOfHeroes/providers/Microsoft.Web/sites/tour-of-heroes-api-ignacio-villa</ResourceId>
    <ResourceGroup>TourOfHeroes</ResourceGroup>
    <ApiResourceId>/subscriptions/78c5ec5f-59c9-4794-b3b3-00ff01735416/resourceGroups/DefaultResourceGroup-WUS2/providers/Microsoft.ApiManagement/service/tour-of-heroes-apiapi/apis/tour-of-heroes-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tour-of-heroes-api-ignacio-villa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>18eaf486-31ec-4377-b7b2-b36131e5477e</ProjectGuid>
    <MSDeployServiceURL>tour-of-heroes-api-ignacio-villa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tour-of-heroes-api-ignacio-villa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$tour-of-heroes-api-ignacio-villa</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>